@font-face {
  font-family: "TT Lakes";
  src: url("fonts/TTLakes-Bold.eot");
  src: local("fonts/TT Lakes Bold"), local("fonts/TTLakes-Bold"),
    url("fonts/TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/TTLakes-Bold.woff") format("woff"),
    url("fonts/TTLakes-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("fonts/TTLakes-Regular.eot");
  src: local("fonts/TT Lakes Regular"), local("fonts/TTLakes-Regular"),
    url("fonts/TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/TTLakes-Regular.woff") format("woff"),
    url("fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("fonts/TTLakes-Medium.eot");
  src: local("fonts/TT Lakes Medium"), local("fonts/TTLakes-Medium"),
    url("fonts/TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
    url("fonts/TTLakes-Medium.woff") format("woff"),
    url("fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "TT Lakes", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #1b1c21;
  max-width: 320px;
  min-height: 100vh;
  background-color: #fff;
  box-shadow: 5px 0 30px -10px #1b1c21;
}

.container {
  padding: 0 24px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 46px;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.header__button,
.footer__button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff3e79;
  background-repeat: no-repeat;
  background-position: center;
}

.header__button--closer {
  background-image: url("img/burger-closer.svg");
}

.header__button--search {
  background-image: url("img/search.svg");
}

.footer__button--phone {
  background-image: url("img/phone.svg");
}

.footer__button--message {
  background-image: url("img/chat.svg");
}

.footer__button--communicate {
  background-image: url("img/community.svg");
}

button:hover,
.navigation__link:hover,
label:hover {
  opacity: 0.5;
}

.header__logo {
  margin-right: 50px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation__link {
  font-family: "TT Lakes", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 24px;
  cursor: pointer;
}

.navigation__link_active {
  position: relative;
  color: #7e7e82;
}

.navigation__link_active::before {
  position: absolute;
  content: "";
  border-right: 8px solid #41f6d7;
  border-radius: 5px;
  top: -5px;
  height: 32px;
  left: -28px;
}

.navigation__list {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
}

.footer__container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin: 32px 0;
}

.footer__navigation {
  display: flex;
  gap: 16px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 16px;
}
.footer__contacts a {
  text-decoration: none;
  color: #1b1c21;
}

.footer__email {
  font-size: 16px;
  font-weight: 600;
}

.footer__number {
  font-size: 24px;
  font-weight: bold;
}

.footer__select-language-form {
  margin-top: 40px;
}

.footer__select-language-button--active {
  color: #7e7e82;
}

.footer__select-language-button {
  text-transform: uppercase;
  font-family: "TT Lakes", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.title__button:hover {
  opacity: 0.5;
}
